/* PAGINA INDEX.HTML */
#pg_principal{
	width:  800px; 					/* largura 			*/
	height: 500px; 					/* comprimento 		*/
}

.name {
	margin: 0 auto 5px;
	padding: 3px 0px;
	overflow: hidden;
}
.name label {
	background: #AAA;  				/* cor fundo 		*/
	border-radius: 6px 0 0 6px; 
	color: #f0f0f0; 
	cursor: pointer; 
	display: block;  
	float: left; 
	font: 15px 'Open Sans',Arial;
}

.email{
	margin: 0 auto 5px;
	padding: 3px 0px;
	overflow: hidden;
}

.email label{
	background: #fff;  				/* cor fundo 		*/
	border-radius: 6px 0 0 6px; 
	color: #f0f0f0; 
	cursor: pointer; 
	display: block;  
	float: left; 
	font: 15px 'Open Sans',Arial;

}

/* PAGINA INFO.HTMl */
#info_txt { 
	width: 800px;
	margin: 1% auto;
	overflow: hidden;
	font: 20px 'Open Sans', Arial; 
	text-align: center; 
	text-shadow: 2px 2px 0 #ccc; 
	margin-bottom: 20px; 
	letter-spacing: -0.5px
}

/* PAGINA CONTATO.HTMl */
#contato_txt { 
	margin: 1% auto;
	overflow: hidden;
	font: 25px 'Open Sans', Arial; 
	text-align: center; 
	color: #555; 
	text-shadow: 2px 2px 0 #ccc; 
	margin-bottom: 20px; 
	letter-spacing: -0.5px
}

 /* AUTORES */
.autores { background: #336FFF; bottom: 0; border-radius: 5px 5px 0 0; padding: 0px 10px; position: fixed; left: 75%; width: 280px}
.autores p { color: #FFFFFF; font: 13px Tahoma, Arial }
.autores p a { color: #333;	text-decoration: none }
.autores p a:hover { text-decoration: underline }